#windows
Thumbs.db
ethumbs.db

#C
.obj
.hex
.o

#vscode
.vscode/*
!.vscode/setting.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

#My Configurations:
!.gitignore